Repository ClemsonRSRG/RESOLVE, pull requests merged in 2022-07, with the labels that each got.

#384 General Purpose Prover Output
  src/java/edu/clemson/rsrg/init/output/FileOutputListener.java
  src/java/edu/clemson/rsrg/init/output/OutputListener.java
  src/java/edu/clemson/rsrg/init/pipeline/NProverPipeline.java
  src/java/edu/clemson/rsrg/nProver/GeneralPurposeProver.java
  src/java/edu/clemson/rsrg/nProver/output/VCProverResult.java
  src/resources/templates/nProverOutput.stg
  src/resources/templates/nProverVerboseOutput.stg
Labels: prover, newfeature

#385 Fixed Missing Location Details
  src/java/edu/clemson/rsrg/vcgeneration/proofrules/statements/ConfirmStmtRule.java
  src/java/edu/clemson/rsrg/vcgeneration/proofrules/statements/PresumeStmtRule.java
Labels: bugfix, vcgen

#382 Registration of sequent
  src/java/edu/clemson/rsrg/init/output/FileOutputListener.java
  src/java/edu/clemson/rsrg/nProver/CCRegApp.java
  src/java/edu/clemson/rsrg/nProver/GeneralPurposeProver.java
  src/java/edu/clemson/rsrg/nProver/registry/ClusterArgument.java
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceClass.java
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceClassRegistry.java
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceCluster.java
  src/java/edu/clemson/rsrg/nProver/registry/Plantation.java
  src/java/edu/clemson/rsrg/nProver/utilities/Utilities.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/ExpLabeler.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterSuccedent.java
  src/resources/templates/nProverOutput.stg
  src/resources/templates/nProverVerboseOutput.stg
  src/resources/templates/proverOutput.stg
Labels: prover, newfeature

#387 JUnit for Congruence Class Registry
  pom.xml
  src/java/edu/clemson/rsrg/nProver/CCRegApp.java
  test/java/edu/clemson/rsrg/nProver/registry/CCRegNoTheoremTest.java
  test/java/edu/clemson/rsrg/nProver/registry/CCRegWithTheoremTest.java
Labels: prover, newfeature

#389 bug fixing for the test cases
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceClassRegistry.java
Labels: bugfix, prover

#390 Fixed Missing Locaiton Detail when Substituting
  src/java/edu/clemson/rsrg/vcgeneration/proofrules/statements/AssumeStmtRule.java
Labels: bugfix, vcgen

#391 Don't add 'false' as an antecedent and 'true' as an succedent if they…
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterSuccedent.java
Labels: bugfix, prover, newfeature

#393 Added to code to handle FunctionExp and PrefixExp
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterSuccedent.java
Labels: prover, newfeature

#394 Added to code to handle SetCollectionExp
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterSuccedent.java
Labels: prover, newfeature

#396 Added to code to handle TupleExp
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterSuccedent.java
Labels: prover, newfeature

#397 Added to code to handle DotExp
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/AbstractRegisterSequent.java
  src/java/edu/clemson/rsrg/vcgeneration/proofrules/declarations/AbstractBlockDeclRule.java
  src/java/edu/clemson/rsrg/vcgeneration/proofrules/declarations/operationdecl/ProcedureDeclRule.java
Labels: bugfix, vcgen, prover, newfeature

#395 changing plantations to stands on the output file and using areCongruent
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceClass.java
  src/java/edu/clemson/rsrg/nProver/registry/CongruenceCluster.java
  src/java/edu/clemson/rsrg/nProver/registry/Plantation.java
  src/java/edu/clemson/rsrg/nProver/utilities/treewakers/RegisterAntecedent.java
Labels: prover
